body {
  margin: 0;
  padding: 0;
}
.d-flex {
  display: flex;
  gap: 20px;
}
.d-none {
  display: none;
}
.header {
  padding: 30px 50px;
  border-bottom: 1px solid #f0f0f0;
}
.header .title {
  font-size: 24px;
  color: red;
}
.result-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  font-size: 18px;
}
.result-container span {
  padding: 0 10px;
}

.qa-part {
  max-width: 700px;
  margin: 50px auto;
}
.qa-part .question {
  font-size: 24px;
}
.qa-part ul {
  list-style: none;
}
.qa-part ul li {
  padding: 10px 0;
}
.qa-part ul input {
  margin-right: 8px;
  cursor: pointer;
}
.qa-part label {
  cursor: pointer;
  display: flex;
}

.previous-next-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

button {
  background-color: #3b3bdf;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}
.answer-btn button {
  background-color: forestgreen;
}
button:disabled {
  cursor: not-allowed;
}
.text-success {
  color: green;
  font-weight: 600;
}